@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">¡Bienvenidos a mi página de inicio!</h1>
    <p>Este es un ejemplo de cómo agregar texto e imágenes centradas.</p>
	<img src="~/images/chacarita.png" />
</div>
